# Kaggle
KAGGLE_USERNAME=votre_identifiant
KAGGLE_KEY=votre_cle_api

# PostgreSQL
POSTGRES_USER=fraude
POSTGRES_PASSWORD=changez_moi
POSTGRES_DB=fraude_db
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changez_moi
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=False
