# Kaggle
KAGGLE_USERNAME=votre_identifiant
KAGGLE_KEY=votre_cle_api

# PostgreSQL
POSTGRES_USER=fraude
POSTGRES_PASSWORD=changez_moi
POSTGRES_DB=fraude_db
POSTGRES_PORT=5432

# Stockage objet SeaweedFS
S3_PORT=8333
S3_FILER_PORT=8888
S3_MASTER_PORT=9333
S3_BUCKET=lakehouse
S3_ACCESS_KEY=la_cle_ingestion_que_tu_as_generee
S3_SECRET_KEY=le_secret_ingestion_correspondant
S3_ENDPOINT=http://localhost:8333

S3_ADMIN_ACCESS_KEY=5c77a852a4c4f35f1fe9
S3_ADMIN_SECRET_KEY=7bfc6b0579f5d7eb87e6946551b3134e2a1c76ab

# Airflow
AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=False
